@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables';

.text-error {
  display: inline-block;
  margin-top: 5px;
  color: $pt-intent-danger;
}
