@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables';

.text-error {
  display: inline-block;
  margin-top: 5px;
  color: $pt-intent-danger;
}

.bp3-dark table.bp3-html-table td {
  color: $gray4;
  font-size: $pt-font-size-small;
}